body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.meeting-list {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.meeting-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.green {
    background-color: #a8e6cf;
}

.blue {
    background-color: #d3e0ff;
}

.yellow {
    background-color: #fff9c4;
}

.meeting-info h2 {
    margin: 0;
}

.meeting-info p {
    margin: 5px 0;
    color: #555;
}

.view-details a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

.view-details a:hover {
    color: #000;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    margin: 0 4px;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.pagination a.active {
    background-color: #4caf50;
    color: white;
    border-radius: 5px;
}
